#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.container {
        width: 100vw;
        height: 100vh;    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: url('../../assets/background.jpg');
      }